/*!
 * Ajax Bootstrap Select
 *
 * Extends existing [Bootstrap Select] implementations by adding the ability to search via AJAX requests as you type. Originally for CROSCON.
 *
 * @version 1.3.2
 * @author Adam Heim - https://github.com/truckingsim
 * @link https://github.com/truckingsim/Ajax-Bootstrap-Select
 * @copyright 2015 Adam Heim
 * @license Released under the MIT license.
 *
 * Contributors:
 *   Mark Carver - https://github.com/markcarver
 *
 * Last build: 2015-05-15 6:42:56 PM CDT
 */
.bootstrap-select .status {
    background: #f0f0f0;
    clear: both;
    color: #999;
    font-size: 11px;
    font-style: italic;
    font-weight: 500;
    line-height: 1;
    margin-bottom: -5px;
    padding: 10px 20px;
}