@font-face {
        font-family: 'Ruble';
        src: url('../fonts/rouble.eot');
        src: local('ALS Ruble'),
        url('../fonts/rouble.woff') format('woff'),
        url('../fonts/rouble.svg') format('svg'),
        url('../fonts/rouble.otf') format('opentype');
}
.ruble {
    font-family: 'Ruble';
    font-size: 0.8em;
}
.ruble_realtors{
	font-family: 'Ruble';
	font-size: 1em;
}
table > tbody > tr:hover {
    cursor: pointer;
}

.modal-backdrop, .modal-backdrop.fade.in {
	display: none;
    opacity: .75;
    background-color: #000;
}

.com_sttnmls .color-grey {
    color: #777;
    font-size: 0.85em;
}

.com_sttnmls .tab-content {
    background: #FFF;
    border: 1px solid #DDD;
    /*border-top: 0;*/
}
.com_sttnmls .nav.nav-tabs {
    margin-bottom: -1px;
}
.com_sttnmls .tab-content .tab-content-wrapper {
    padding-top: 15px;
}
.com_sttnmls .tab-content hr { margin-top: 0; margin-bottom: 10px; }

.com_sttnmls .tab-content .col-header {
    font-weight: bold;
    margin-bottom: 5px;
}

.com_sttnmls .tab-danger {
    background: #ac2925 !important;
    color: #FFF !important;
}

.com_sttnmls.objects-list .tab-content .form-group { margin-bottom: 2px; }
.com_sttnmls.objects-list .tab-content .control-label { font-weight: normal; }
.com_sttnmls.objects-list .tab-content .checkbox { min-height: inherit; padding-top: 0; }

.com_sttnmls .tab-content .showDopFilters {
    color: #1F5C00;
    font-size: 0.9em;
    text-decoration: none;
    background: url("../images/icon_arrow_down.png") 0 6px no-repeat;
    display: block;
    margin: 10px 0;
    padding-left: 16px;
}
.com_sttnmls .tab-content .showDopFilters.showed {
    background: url("../images/icon_arrow_up.png") 0 6px no-repeat;
}

.com_sttnmls .tab-content .groupbox { height: 105px; overflow-y: auto; }

.com_sttnmls .active-filters { margin: 10px 0; }
.com_sttnmls .active-filters a { color:#333; }

.com_sttnmls .objects-table th {
    color: #333;
    background: #E5E5E5;
}
.com_sttnmls .objects-table th a { color: #333; }

.com_sttnmls .rudate {
    text-align: center;
    font-weight: bold;
}
.com_sttnmls .wcnt {
    color: #888;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    margin: 5px;
}
.com_sttnmls .objects-table .icon-wcnt {
    background: url('../images/icon_wcnt.png') 0 0 no-repeat;
    width: 22px;
    height: 22px;
    line-height: 22px;
    margin-top: -8px;
    vertical-align: middle;
}

.com_sttnmls .objects-table .photo-container { position: relative; }
.com_sttnmls .objects-table .photo-container .promotion {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 5px;
    bottom: 5px;
    z-index: 10;
}

.com_sttnmls .objects-table .photo-container .img-thumbnail{
    max-width: 150px;
}

.com_sttnmls .objects-table .photo-container .img-thumbnail img{
    width: 100%;
    height: auto;
}

.com_sttnmls .objects-table .photo-container .promotion { background: url('../images/upobj.png') 0 0 no-repeat; }
.com_sttnmls .objects-table .photo-container .promotion:hover,
.com_sttnmls .objects-table .photo-container .promotion.promoted { 
    background: url('../images/upobj2.png') 0 0 no-repeat; 
}

.com_sttnmls .objects-table .object.exclusive .photo-container > a:before {
    background: url('../images/exclusive.png') 0 0 no-repeat;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width:60px;
    height: 60px;
}

.com_sttnmls .objects-table .price {
    font-size: 13pt;
    font-weight: bold;
}
.com_sttnmls .objects-table .price-month,
.com_sttnmls .objects-table .price-day,
.com_sttnmls .objects-table .price-hour {

    text-align: left;
}
.com_sttnmls .objects-table .price-month span {
    font-size: 0.95em;
    font-weight: normal;
    float:right;
}
.com_sttnmls .objects-table .price-day span {
    color: #df622a;
    font-size: 0.95em;
    font-weight: normal;
    float:right;
}
.com_sttnmls .objects-table .price-hour span {
    color: #B90D0D;
    font-size: 0.95em;
    font-weight: normal;
    float:right;
}


.com_sttnmls .objects-table .priceqm {
    color: #666;
    font-size: 9pt;
}
.com_sttnmls .objects-table .priceqm.priceqm-stats-up {
    color: #B50000;
    font-weight: bold;
}
.com_sttnmls .objects-table .priceqm.priceqm-stats-down {
    color:#00B633;
    font-weight: bold;
}

.com_sttnmls .objects-table .addToFavorite {
    background: url('../images/icon_add2favorite.jpg') 0 0 no-repeat;
    display: inline-block;
    width: 33px;
    height: 115px;
}
.com_sttnmls .objects-table .addToFavorite.in_fav {
    background: url('../images/icon_add2favorite_active.jpg') 0 0 no-repeat;
}

.com_sttnmls .objects-table.table-striped > tbody > tr {
    background: transparent;
}
.com_sttnmls .objects-table.table-striped > tbody > tr:nth-of-type(odd) {
    background: transparent;
}

.com_sttnmls .objects-table.table-striped > tbody > tr td,
.com_sttnmls .objects-table.table-striped > tbody > tr th {
    background: transparent;
}
.com_sttnmls .objects-table.table-striped > tbody > tr:nth-of-type(odd) td,
.com_sttnmls .objects-table.table-striped > tbody > tr:nth-of-type(odd) th {
    background: transparent;
}

/* PROMO ROW */
.com_sttnmls .objects-table.table-striped > tbody > tr.promotion td,
.com_sttnmls .objects-table.table-striped > tbody > tr.promotion th {
    background: #E7F9B9;
}
.com_sttnmls .objects-table.table-striped > tbody > tr.promotion:nth-of-type(odd) td,
.com_sttnmls .objects-table.table-striped > tbody > tr.promotion:nth-of-type(odd) th {
    background: #E7F9B9;
}

/*.com_sttnmls .objects-table.table-striped > tbody > tr.promotion:nth-of-type(odd) td,*/
/*.com_sttnmls .objects-table.table-striped > tbody > tr.promotion:nth-of-type(odd) th {*/
    /*background: #DEF0B0;*/
/*}*/

.com_sttnmls .objects-table.table-striped > tbody > tr.promotion:hover td,
.com_sttnmls .objects-table.table-striped > tbody > tr.promotion:hover th {
    background: #FFFACD;
}

/* EXPIRED ROW */
.com_sttnmls .objects-table.table-striped > tbody > tr.expired td,
.com_sttnmls .objects-table.table-striped > tbody > tr.expired th {
    background: #DCDCDC;
}
.com_sttnmls .objects-table.table-striped > tbody > tr.expired:nth-of-type(odd) td,
.com_sttnmls .objects-table.table-striped > tbody > tr.expired:nth-of-type(odd) th {
    background: #DCDCDC;
}

/*.com_sttnmls .objects-table.table-striped > tbody > tr.expired:nth-of-type(odd) td,*/
/*.com_sttnmls .objects-table.table-striped > tbody > tr.expired:nth-of-type(odd) th {*/
    /*background: #D0D0D0;*/
/*}*/

/* EXCLUSIVE ROW */
.com_sttnmls .objects-table.table-striped > tbody > tr.exclusive td,
.com_sttnmls .objects-table.table-striped > tbody > tr.exclusive th {
    background: #FFEFD5
}
.com_sttnmls .objects-table.table-striped > tbody > tr.exclusive:nth-of-type(odd) td,
.com_sttnmls .objects-table.table-striped > tbody > tr.exclusive:nth-of-type(odd) th {
    background: #FFEFD5
}

/*.com_sttnmls .objects-table.table-striped > tbody > tr.exclusive:nth-of-type(odd) td,*/
/*.com_sttnmls .objects-table.table-striped > tbody > tr.exclusive:nth-of-type(odd) th {*/
    /*background: #FAEBD7*/
/*}*/

.com_sttnmls .filters .sm-options {
    width: 100px;
}



.com_sttnmls .objects-list .object div.thumbnail { 
    position: relative;
}

.com_sttnmls .realtors_item_content{
	font-weight: 600;
}

@media(min-width: 768px) {
    .com_sttnmls .objects-list .object div.thumbnail {
        min-height: 424px;
    }
}

.com_sttnmls .objects-list .object-public-info {
    color: #999;
}

.com_sttnmls .objects-list .object-public-info:before,
.com_sttnmls .objects-list .object-public-info:after{
    content: '';
    display: table;
}

.com_sttnmls .objects-list .object-public-info:after {
    clear: both;
}

.com_sttnmls .objects-list .object-public-info p{
    margin-bottom: 0;
}

.com_sttnmls .objects-list .object-header {
    text-align: center;
    padding: 9px;
}
.com_sttnmls .objects-list .object-header a {
    font-size: 12pt;
    font-weight: bold;
    text-decoration: underline;
}

.com_sttnmls .objects-list .object-photo {
    position: relative;
    overflow: hidden;
}
.com_sttnmls .objects-list .object-photo .upobj:before {
    content: '';
    background: url('../images/upobj.png') 0 0 no-repeat;
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 10;
}

.com_sttnmls .objects-list .object-description {
    margin-bottom: 5px;
    padding: 0 9px;
}

@media(min-width: 768px){
    .com_sttnmls .objects-list .object-description {
        min-height: 112px;
    }

    .com_sttnmls .objects-list .object-header {
        min-height: 85px;
    }
}

.com_sttnmls .objects-list .object-price {
    margin-bottom: 5px;
    padding: 0 9px;
    position: relative;
}

.com_sttnmls .objects-list .price .value {
    font-family: Verdana;
    font-size: 13pt;
    font-weight: bold;
}
.com_sttnmls .objects-list .priceqm {
    color: #999;
    font-family: Verdana;
    font-size: 9pt;
}

.com_sttnmls .objects-list .object-actions {
    position: absolute;
    left: 15px;
    bottom: 15px;
    width: 100%;
}
.com_sttnmls .object-actions-wrapper {
    margin-right: 30px;
}


.com_sttnmls .object-card-wrapper .sttnmls_photo a.big { display: block; margin-bottom: 5px; }
.com_sttnmls .object-card-wrapper .sttnmls_photo a.small { float:left; margin-bottom: 5px;}
.com_sttnmls .object-card-wrapper .sttnmls_photo a.big img { width: 210px; }
.com_sttnmls .object-card-wrapper .sttnmls_photo a.small img { width: 56px; }

.com_sttnmls .object-card-wrapper .sttnmls_map {
    margin: 10px 0 15px 0;
    border: 1px solid #CCC;
}
.com_sttnmls .object-card-wrapper .sttnmls_map #YMapsID {
    width: auto;
    height: 250px;
}


.com_sttnmls .object-card-wrapper h1 {
    font-size: 24px;
    margin-top: 5px;
}



.com_sttnmls .object-card-wrapper .pricecard {
    color: #B90D0D;
    font-size: 38px;
    line-height: 40px;
    font-family: Verdana;
    float: right;
}


.com_sttnmls .object-card-wrapper .pricecard.rent {
    color: #333;
    font-size: 28px;
    line-height: 32px;
    font-family: Verdana;
    float: none;
}
.com_sttnmls .object-card-wrapper .pricecard.rent.day span.period {
    color: #df622a;
}
.com_sttnmls .object-card-wrapper .pricecard.rent.hour span.period {
    color: #B90D0D;
}

.com_sttnmls .object-card-wrapper .priceqmcard {
    color: #333;
    font-size: 20px;
    float: right;
    margin-top: 10px;
}

.com_sttnmls .object-card-wrapper .sttnmls_published_info .calendar {
    float: left;
    padding: 5px 0 5px 38px;
    position: relative;
}

.com_sttnmls .object-card-wrapper .sttnmls_published_info .calendar:before{
    font-family: "Glyphicons Halflings";
    content:"\e109";
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 30px;
}

.com_sttnmls .object-card-wrapper .sttnmls_published_info .visitors {
    float: right;
    background: url("../images/icon_wcnt.png") 0 2px no-repeat;
    padding: 5px 0 5px 26px;
}


.com_sttnmls .object-card-wrapper .sttnmls_user_actions {

}

.com_sttnmls .object-card-wrapper .sttnmls_complaint #complaint_form {
    background: #EEE;
    display: none;
    padding: 10px;
}

.com_sttnmls .object-address-link{
    border-bottom: 1px dashed;
}

.com_sttnmls .objects-list-sm .object div.thumbnail {
    position: relative;
    height: 400px;
}
.com_sttnmls .objects-list-sm .object-public-info {
    margin-bottom: 5px;
}
.com_sttnmls .objects-list-sm .object-header a {
    font-size: 10pt;
    font-weight: bold;
    text-decoration: underline;
}
.com_sttnmls .objects-list-sm .object-photo {
    position: relative;
    height: 150px;
    overflow: hidden;
}
.com_sttnmls .objects-list-sm .object-description {
    font-size: 10pt;
    margin-bottom: 5px;
}
.com_sttnmls .objects-list-sm .object-actions {
    position: absolute;
    left: 15px;
    bottom: 15px;
    width: 100%;
}
.com_sttnmls .objects-list-sm .object-actions-wrapper {
    margin-right: 30px;
}


/******************************************************************************/

/*  AGENT-> PROFILE  */

.com_sttnmls.sttnmls_profile .sttnmls_photo .image {
    text-align: center;
    margin-bottom: 10px;
}

.com_sttnmls.sttnmls_profile .btn.getObjectsList {
    text-align: left;
}
.com_sttnmls.sttnmls_profile .btn.btn-sm {
    position: relative;
}
.com_sttnmls.sttnmls_profile .btn.btn-sm .badge {
    position: absolute;
    top: 5px;
    right: 5px;
}

.com_sttnmls.sttnmls_profile .tariff .lead { 
    color: #444;
    font-size: 30px;
    margin-bottom:0px; 
}

.com_sttnmls .panel-footer .well {
    margin-bottom: 0;
}

.com_sttnmls .image-realtor {
    background: url('../images/realtor.png') 0 -120px no-repeat;
    width: 136px;
    height: 120px;
    display: inline-block;
}

.com_sttnmls .image-specialist {
    background: url('../images/realtor.png') 0 -245px no-repeat;
    width: 136px;
    height: 120px;
    display: inline-block;
}

.com_sttnmls .image-sobstvennik {
    background: url('../images/realtor.png') 0 0 no-repeat;
    width: 136px;
    height: 120px;
    display: inline-block;
}

.com_sttnmls .fixed-contacts {
    display: none;
    background: #FFF;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: fixed;
    left:10px;
    bottom:10px;
    width: 440px;
    padding: 10px;
}

.com_sttnmls .social{
	display: inline-block;
	width: 24px;
	height: 24px;
}
.com_sttnmls .social.skype{
	background: url('/images/social_sprite.png') repeat 0;
}
.com_sttnmls .social.vk{
	background: url('/images/social_sprite.png') repeat -24px;
}
.com_sttnmls .social.ok{
	background: url('/images/social_sprite.png') repeat -48px;
}
.com_sttnmls .social.fb{
	background: url('/images/social_sprite.png') repeat -72px;
}
.com_sttnmls .social.instagram{
	background: url('/images/social_sprite.png') repeat -96px;
}
.com_sttnmls .social.twitter{
	background: url('/images/social_sprite.png') repeat -120px;
}


.text-left{
    text-align: left !important;
}

.com_sttnmls .invalid {
    background: #FFE4E1;
}

.com_sttnmls .col-xm-4{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}



.com_sttnmls .to-right{
    float: right;
}

.com_sttnmls .to-left{
    float: left;
}

.com_sttnmls .favorite-link{
    font-size: 14px;
    /*line-height: 18px;*/
    color: #444;
}

.com_sttnmls .favorite-link > span.glyphicon {
    color: #696969;
    font-size: 18px;
    line-height: 18px;
    display: block;
    float: left;
}

.com_sttnmls .favorite-link.active > span.glyphicon{
    color: #F2B834;
}

.com_sttnmls .dropdown-menu-checkbox > div{
    padding: 3px 10px;
}

.com_sttnmls .dropdown-menu-checkbox-item label{
    font-weight: 400;
}

.com_sttnmls .checkbox-list-container{
    margin-bottom: 15px;
}

.com_sttnmls .favorite-star{
    font-size: 32px;
    color: #696969;
    position: absolute;
    top: 0;
    left: 9px;
}

.com_sttnmls .favorite-star.in_fav{
    color: #F0AD4E;
}

.com_sttnmls .favorite-star:hover{
    color: #EC971F;
}

.com_sttnmls .edit-button-block{
    position: absolute;
    top: 9px;
    right: 9px;

}

.com_sttnmls .object-view-button{
    position: absolute;
    bottom: 9px;
    right: 9px;
}

.com_sttnmls .thumbnail.object-com .object-description{
    min-height: auto;
}

.com_sttnmls .object-photo img{
    border: 1px solid #ddd;
}

.com_sttnmls .object-price{
    min-height: 32px;
}

.com_sttnmls .extend-filter-col{
    margin-bottom: 15px;
}

.com_sttnmls .object-description a{
    clear: both;
}

.com_sttnmls .upobj.picplat{
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
}
.com_sttnmls .right-dropdown-menu{
    right: 0;
    left: auto;
}

.com_sttnmls .left-dropdown-menu{
    left: -105px;
}

.com_sttnmls .dropdown-menu-checkbox {
    width: 100%;
    padding: 5px;
}

.com_sttnmls .sttnmls_complaint{
    margin-bottom: 15px;
}

.com_sttnmls .promotion-object p{
    margin-top: 15px;
}

.com_sttnmls .similar-object{
    height: auto !important;
}

.table-header-text-center th{
    text-align: center;
}

.padding-left-15{
    padding-left: 15px;
}

.nav.nav-pills.nav-justified.mobile{
	display:none;
}

.checkbox-mobile{
	display: none;
}

.com_sttnmls .apart-edit-exclusive{
	visibility: hidden; 
	position: absolute;
}

.com_sttnmls .edit-arrow{
    width: 0; 
    height: 0; 
    border: 8px solid transparent; 
    border-top-color: green; 
    border-bottom: 0; 
    margin: 0px 10px; 
    position: relative; 
    top: 17px;
}

.com_sttnmls .firm.glyphicon{
    vertical-align: middle;
    margin-right: 10px;
    font-size: 20px;
}

.com_sttnmls .firm.big.img-rounded{
    display: none;
}
.com_sttnmls .checkBase label{
    width:100%;
}
@media all and (min-width: 500px) and (max-width: 767px){
    .com_sttnmls .col-xm-4{
        width: 33.3333%;
    }
}
@media all and (min-width: 768px){
    .com_sttnmls .object-card-wrapper h1 {
        font-size: 30px;
    }

    .com_sttnmls .object-card-wrapper .pricecard {
        float: left;
    }
    .com_sttnmls .fixed-contacts {
        display: block;
    }
}
@media(min-width: 768px){
    .com_sttnmls .objects-list{
        margin-left: -15px;
        margin-right: -15px;
    }

    .com_sttnmls .object-house .object-header, .com_sttnmls .object-com .object-header{
        min-height: 105px;
    }

    .com_sttnmls .object-house .object-description, .com_sttnmls .object-com .object-description{
        min-height: 102px;
    }

    .com_sttnmls .object-house .thumbnail, .com_sttnmls .object-com{
        min-height: 434px !important;
    }

    .com_sttnmls .thumbnail.object-com{
        min-height: 434px;
    }
}

@media all and (min-width: 992px) {
    .com_sttnmls .extend-filter-col{
        margin-bottom: 0;
    }
}


@media(max-width: 350px){
	
	.sttnmls_photo.lk{
		display:none;
	}
	
}
@media (max-width: 767px){
    .nav.nav-pills.nav-justified{
		display:none;
	}
	.nav.nav-pills.nav-justified.mobile{
		display:block;
	}
	.edit-submit-mobile{
		width:100%;
	}
    .edit-submit-mobile > .btn.btn-default.btn-sm{
		width:50%;
	}
    .com_sttnmls .firm.btn-group{
        width:100%;
    }
    .com_sttnmls .firm.btn-group button{
        width:100%;
        height: 30px;
        margin-bottom: 5px;
    }
    .com_sttnmls .firm.normal.img-rounded{
        display: none;
    }
    .com_sttnmls .firm.big.img-rounded{
        display: block;
        margin: 0 auto;
    }
    .com_sttnmls .firm.fio{
        display: block;
        text-align: center;
    }
    .com_sttnmls .firm.boss{
        display: block;
        text-align: center;
        margin-bottom: 5px;
    }
    .com_sttnmls .table-responsive{
        /*display: none;*/
    }
    .page-sidebar.col-md-3.col-sm-4{
        display: none;
    }
}